.Contacts {
    margin: 10% auto;
    max-width: 1200px;

    /* contact section */

    .data-contacts {
        height: 400px;
        background-color: darksalmon;
        padding: 15px;
        margin: 20px;
    }

    /* form */

    .form {
        background-color: darkkhaki;
        padding: 15px;
        margin: 20px;
    }
}
