.bigScr {
    background: grey url('./wallpaper.jpg') no-repeat;
    background-size: auto 100%;
    background-color: white;
    text-align: center;
}

.bigScr p {
    padding: 0 0 5%;
    font: 24px "Cormorant Garamond";
    color: #8e6342;
}

#logo {
    width: 26%;
    padding: 7% 0 2%;
}
